@import "./style/style.css";

html {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: #070707;
}

body {
    background: #fff;
}

h1 {
    font-weight: 700;
    font-size: 48px;
}

h2 {
    font-weight: 700;
    font-size: 34px;
}
a, a:active {
    color: #070707;
}

.bacground-grey {
    background: #E5E5E5;
}

section:not(bio). footer {
    padding-top: 100px;
    padding-bottom: 100px;
    
}


/*Header*/


/*Rating*/
.rating {
    text-align: left;
}
.rating .rating_wrapper {
   direction: rtl;
}

.rating input[type="radio"] {
    display: none;
}

.rating .star {
    font-size: 26px;
    cursor: pointer;
    color: #E5E5E5;
}
.rating .star:hover, 
.rating .star:hover ~.star,
.rating input:checked ~ .star
.rating input:checked + .star {
    color: #070707;
}