@font-face {
    font-family: 'Lato';
    src: url('/assets/font/Lato/Bold.eot');
    src: url('/assets/font/Lato/Lato Bold.eot?#iefix') format('embedded-opentype'),
        url('/assets/font/Lato/Lato Bold.woff2') format('woff2'),
        url('/assets/font/Lato/Lato Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
    font-stretch: normal;   
}

@font-face {
    font-family: 'Lato';
    src: url('/assets/font/Lato/Lato Bold Italic.eot');
    src: url('/assets/font/Lato/Lato Bold Italic.eot?#iefix') format('embedded-opentype'),
        url('/assets/font/Lato/Lato Bold Italic.woff2') format('woff2'),
        url('/assets/font/Lato/Lato Bold Italic.woff') format('woff');
    font-weight: 700;
    font-style: italic;
    font-stretch: normal;
}

@font-face {
    font-family: 'Lato';
    src: url('/assets/font/Lato/Lato Italic.eot');
    src: url('/assets/font/Lato/Lato Italic.eot?#iefix') format('embedded-opentype'),
        url('/assets/font/Lato/Lato Italic.woff2') format('woff2'),
        url('/assets/font/Lato/Lato Italic.woff') format('woff');
    font-weight: 400;
    font-style: italic;
    font-stretch: normal;
}

@font-face {
    font-family: 'Lato';
    src: url('/assets/font/Lato/Lato Regular.eot');
    src: url('/assets/font/Lato/Lato Regular.eot?#iefix') format('embedded-opentype'),
        url('/assets/font/Lato/Lato Regular.woff2') format('woff2'),
        url('/assets/font/Lato/Lato Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
}

@font-face {
    font-family: 'Red Hat Display';
    src: url('/assets/font/Red_Hat_Display/Red Hat Display Italic.eot');
    src: url('/assets/font/Red_Hat_Display/Red Hat Display Italic.eot?#iefix') format('embedded-opentype'),
        url('/assets/font/Red_Hat_Display/Red Hat Display Italic.woff2') format('woff2'),
        url('/assets/font/Red_Hat_Display/Red Hat Display Italic.woff') format('woff');       
    font-style: italic;
    font-stretch: normal;
}

@font-face {
    font-family: 'Red Hat Display';
    src: url('/assets/font/Red_Hat_Display/Red Hat Display Regular.eot');
    src: url('/assets/font/Red_Hat_Display/Red Hat Display Regular.eot?#iefix') format('embedded-opentype'),
        url('/assets/font/Red_Hat_Display/Red Hat Display Regular.woff2') format('woff2'),
        url('/assets/font/Red_Hat_Display/Red Hat Display Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
}

@font-face {
    font-family: 'Red Hat Display Medium';
    src: url('/assets/font/Red_Hat_Display/Red Hat Display Medium.eot');
    src: url('/assets/font/Red_Hat_Display/Red Hat Display Medium.eot?#iefix') format('embedded-opentype'),
        url('/assets/font/Red_Hat_Display/Red Hat Display Medium.woff2') format('woff2'),
        url('/assets/font/Red_Hat_Display/Red Hat Display Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
}

@font-face {
    font-family: 'Red Hat Display Medium';
    src: url('/assets/font/Red_Hat_Display/Red Hat Display Medium Italic.eot');
    src: url('/assets/font/Red_Hat_Display/Red Hat Display Medium Italic.eot?#iefix') format('embedded-opentype'),
        url('/assets/font/Red_Hat_Display/Red Hat Display Medium Italic.woff2') format('woff2'),
        url('/assets/font/Red_Hat_Display/Red Hat Display Medium Italic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
    font-stretch: normal;
}

@font-face {
    font-family: 'Red Hat Display SemiBold';
    src: url('/assets/font/Red_Hat_Display/Red Hat Display SemiBold.eot');
    src: url('/assets/font/Red_Hat_Display/Red Hat Display SemiBold.eot?#iefix') format('embedded-opentype'),
        url('/assets/font/Red_Hat_Display/Red Hat Display SemiBold.woff2') format('woff2'),
        url('/assets/font/Red_Hat_Display/Red Hat Display SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
}

@font-face {
    font-family: 'Red Hat Display SemiBold';
    src: url('/assets/font/Red_Hat_Display/Red Hat Display SemiBold Italic.eot');
    src: url('/assets/font/Red_Hat_Display/Red Hat Display SemiBold Italic.eot?#iefix') format('embedded-opentype'),
        url('/assets/font/Red_Hat_Display/Red Hat Display SemiBold Italic.woff2') format('woff2'),
        url('/assets/font/Red_Hat_Display/Red Hat Display SemiBold Italic.woff') format('woff');
    font-weight: 600;
    font-style: italic;
    font-stretch: normal;;
}