$blue: #55B7FF;
$white: #ffffff;
$violet: #7E5AFF;
$dark-blue: #2C4058;
$black: #000000;
$light-gradient: #24CCFA;
$dark-gradient: #3C7FD4;

$weight-400: 400;
$weight-700: 700;

$font-SSP: 'Source Sans Pro';
$font-OS: 'Open Sans';
$font-M: 'Montserrat';


