$black: #000000;
$browndark: #35312D;
$arrow-inactive: #202020;
$tomato: #C62100;
$tomato-light: #F16A50;
$brown-light: #F8F1EA;
$dot-inactive: rgba(248, 241, 234, 0.7);
$dark-dot-inactive: #CAC2BA;

$padding-menu: 30px;
$padding-section: 70px;
$padding50: 50px;
$padding-aside: 100px;

