$blue: rgba(85, 183, 255, 1);   //#55B7FF
$white: #ffffff;
$violet: rgba(126, 90, 255, 1); //#7E5AFF
$dark-blue: #2C4058;
$black: #000000;
$light-gradient: rgba(36, 204, 250, 1); //#24CCFA
$dark-gradient: rgba(60, 127, 212, 1);  //#3C7FD4
$grey: #D2D4D7;
$purple: rgba(90, 104, 255, 1);   //#5A68FF

$weight-400: 400;
$weight-700: 700;

$font-SSP: 'Source Sans Pro';
$font-OS: 'Open Sans';
$font-M: 'Montserrat';


