@use "./reset";
@use "./mixins" as *;
@use "./font";
@use "./variables" as *;
@use "./responsive" as *;

/*@use "./hamburgers" as *;*/

* {
  box-sizing: border-box;
  }
body {
  /*background-image: url('../assets/image/first-screen-image.png');*/
  background: linear-gradient(rgba(224, 225, 231, 0) 0%,
            rgba(22, 25, 38, 1) 100%),
              url('../assets/image/first-screen-image.png');
  background-repeat: no-repeat;
  background-size: 100%;
  max-height: 1175px;
  background-color: $color-bg;  
  color: $color-white;
}

.wrapper {
  @include wrapper;
}

.header {
  height: 80px;
  width: 100%;  
  margin-top: 30px;
  background: linear-gradient(90deg,
    rgba(22, 25, 38, 0) 0%,
    rgba(22, 25, 38, 0) 51%,
    rgba(22, 25, 38, 0.5) 100%);
  backdrop-filter: blur(5px) opacity(0.8);
  

  &__content {
    @include wrapper;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

  }

  &__logo {
    width: 107px;
    display: inline-flex;
    justify-content: space-between;
    cursor: pointer;
  }

  .nav {
    display: flex;

    &__item {
      cursor: pointer;

      &:not(:first-of-type) {
        margin-left: 30px;
      }

      &__link {
        color: $color-white;
        text-decoration: none;    
        @include font('Lato', 14px, 24px);    
        letter-spacing: 0.08em;
      }     
    }
    &__item::after {
      content: "";
      display: block;
      height: 3px;
    }
    &__item:hover:after {
      content: "";
      display: block;      
      height: 3px;
      width: 110%;
      background: linear-gradient(90deg,
            rgba(83, 243, 205, 1) 0%,
            rgba(83, 243, 205, 0) 100%);
      opacity: 0.3;
     
    }
    
  }
}

.blue-text {
  color: $color-blue;
  font-style: italic;
}
.text {
  @include font-text;
}
.title {
  @include font-title;
}

.first-screen {
  max-width: 523px;
  margin-top: $margin-150;
  margin-bottom: $margin-150;
 
  &__title {
    @include font('Playfair Display', 44px, 52px);
    margin-bottom: 20px;
  }

  &__button {
    margin-top: 50px;
    @include btn;
  }
}

.button {
  @include font('Lato', 20px, 20px);
  font-weight: 700;
  color: $color-green-neon;
  text-transform: uppercase;  
  letter-spacing: 0.08em;
  padding: 0;  
  position: relative;  
  text-decoration: none;
}
.button::after {
  content: "";
  background-color: $color-green-neon;
  height: 13px;
  width: 97%;
  display: block;
  opacity: 0.3;
  position: absolute;
  top: 11px;
  left: 10px;
}
.button:hover{
  color: $color-green-neon-dark;
}
.button:hover::after {
  background-color: $color-green-neon-dark;
}

.subscription {
  @include font('Playfair Display', 20px, 20px);
  font-style: italic;
  letter-spacing: 0.08em;
}

.info {
  /*display: flex;
  position: relative;    
  align-items: center;
  @include margin-block;*/
  @include block;
  opacity: 0.9;

  &__image {
    max-width: 570px;
    max-height: 670px;
  }

  &__block {
    @include block-right;    
    display: flex;
    
    /*position: absolute; 
    width: 770px;   
    right: 0px;
    background-color: $color-bg;
    opacity: 0.9;    
    padding-top: $margin-45;
    padding-bottom: $margin-45;*/

      &_left {
        width: 48%;
        text-align: center;
      }

      &_right {
        width: 52%;
      }
  }

  &__title {
    @include font('Playfair Display', 68px, 72px);
    margin-bottom: 12px;
  }
  &__title::before:not(:last-of-type) {
    content: "$";
    font-size: 40px;
    margin-right: 10px;
  }

  &__line {
    border: 1px solid $color-blue;
    width: 100px;
    margin-top: 40px;
    margin-bottom: 40px;
  }

  &__button {
    margin-top: 50px;
    @include btn;
  }
}

.benefits {    
  @include flex-2;  
  @include margin-block;
  row-gap: 60px;
  column-gap: 30px;
  justify-content: space-between;
  /*display: flex;
  flex-wrap: wrap;
   */

  &__post {
    max-width: 570px;
    min-height: 210px;
    border-top: 1px solid #515773;
    padding: 50px 35px 20px;
    width: 49%;    
  }

  &__title {   
    margin-bottom: 30px;
  }
}

.quote {
  width: 100%;  
  background-image: url('../assets/image/quote-background.jpg');
  background-size: 100%;
  height: 400px;
  background-repeat: no-repeat;
  @include margin-block;

  &__block {
    width: 61%;
    max-width: 710px;
    position: relative;
    top: 70px;
    left: 100px;
  }

  &__text {
    @include font('Lato', 32px, 46px);
    letter-spacing: 0.04em;
    margin-bottom: 40px;
  }


  &__img {
    position: absolute;
    top: -30px;
    left: -60px;
  }
}

.video {  
  width: 83%;
  max-width: 970px;
  margin: 0 auto;
  @include margin-block;
  
  &__block {     
    position: relative;
    max-height: 601px;
    margin-bottom: 50px;
  }
  
  &__tablet {
    max-width: 970px;
    max-height: 601px;    
  }

  &__screen {
    position: absolute;
    top: 31px;
    left: 30px;
    width: 90%;
    height: 90%;
    border-radius: 8px;
    opacity: 20%;
    mix-blend-mode: luminosity;
  }

  &__play-icon {
    position: absolute;
    top: 40%;
    left: 42%;
    width: 120px;
    height: 120px;
    cursor: pointer;
  }
  
  &__title {
    margin-bottom: 20px;
  }

  &__post {
    padding-left: 8%;
  }
}

.promises {
  @include block;
  /*width: 100%;
  display: flex;
  align-items: center;
  @include margin-block;
  position: relative;*/

  &__img {
    max-width: 600px;
    max-height: 540px;
  }

  &__block {
    @include block-right;    
    @include flex-2;    
    row-gap: 70px;
    padding-left: 70px;
    justify-content: space-between;
    width: 70%;
  }

  &__post {
    width: 300px;
    height: auto;
  }

  &__title {
    @include font('Playfair Display', 24px, 48px);
    margin-bottom: 15px;    
  }

  &__btn {
    width: 300px;
    height: 90px;
    @include border;
    position: relative;
  }
    &__btn:hover {
      border-color: $color-green-neon-dark;
    }
  &__button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    @include btn;    
  }   
  &__link {
    @include font('Lato', 20px, 20px);
      font-weight: 700;
      color: $color-green-neon;
      text-transform: uppercase;
      letter-spacing: 0.08em;
      padding: 0;
      position: relative;
      text-decoration: none;
      display: block;
      height: 100%;    
  }

  &__link::after {
    content: "";
    background-color: $color-green-neon;
    height: 13px;
    width: 113px;
    display: block;
    opacity: 0.3;
    position: inherit;
    top: -9px;
    left: 10px;
  }
  &__link:hover {
    color: $color-green-neon-dark;
  }
  &__link:hover::after {
    background-color: $color-green-neon-dark;
  }
    &__link:hover.bord {
      border-color: $color-green-neon-dark;
    }

}

.bord {
  @include border;
  width: 300px;
  padding: 33px 89px;
}

.reviews {
  margin-bottom: $margin-100;
  &__title {
    margin-bottom: 20px;
  }

  &__text {
    max-width: 400px;
    margin-bottom: 50px;
  }

  &__block {
    display: flex;
    justify-content: space-between;    
    column-gap: 10px;
    row-gap: 30px;
    flex-wrap: wrap;
        
  }

  &__post{
    width: 370px;
    height: 340px;
    padding: 30px 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    &__text {
      @include font('Lato', 16px, 26px);
      opacity: $opacity-80;
    }
  }
  &__post:first-of-type {
    background-image: url('./assets/image/bg.jpg');
  }
  &__post:nth-child(2) {
    background-image: url('./assets/image/bg_2.jpg');
  }
  &__post:nth-child(3) {
    background-image: url('./assets/image/bg_3.jpg');
  }
}

.contact {
  margin-bottom: $margin-100;
  display: flex;
  justify-content: space-between;

  &__label{
    display: none;
  }
  &__title {
    margin-bottom: 30px;
  }

  &__text {
    max-width: 470px;
  }
}

.footer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding-top: 30px;
  padding-bottom: 30px;
  @include border-top;
  @include font('Lato', 14px, 24px);

  &__block {
    &_right {
      display: inline-flex;
      width: 250px;
      justify-content: space-between;
    }
  }

  &__text {
    &_center {
      display: inline-flex;
      width: 161px;
      justify-content: space-between;
    }
  }
}

.opacity {
  opacity: $opacity-60;
}

.contact { 
  @include border-top;
  align-items: center;

  &__form {
    width: 41%;
    max-width: 470px;
    display: flex;
    flex-direction: column;
    padding-top: 60px;

    &__button {
      display: flex;
      width: max-content;
      @include btn;
    }
  }
}

.contact {

  &__input {
    @include font-text;
    color: $color-white;
    letter-spacing: 0.08em;
    font-style: italic;
    background: none;
    padding-bottom: 12px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    margin-bottom: 40px;

    &::placeholder {
      @include font('Playfair Display', 18px, 20px);
      color: $color-white;
      opacity: 0.5;
      font-style: italic;
      letter-spacing: 0.08em;
    }
  }
}
