@use "./reset";
@use "./mixins" as *;
@use "./font";
@use "./variables" as *;
@use "./responsive" as *;
/*@use "./hamburger" as *;*/

// body {
// 	background-color: gray;
// }
* {
	box-sizing: border-box;
}
i {
	margin-right: 10px;
}
.wrapper {
	width: 75%;
	max-width: 1170px;
	margin: 0 auto;
}
.gradient {	
	background: linear-gradient(60deg, rgba(85, 183, 255, 1) 0%, rgba(90, 104, 255, 1) 100%);
}

.header__bg {
	width: 100%;
	position: relative;
	
	&__img {
		width: 100%;				
	}
	.slick-dots {
			display: flex;
			position: absolute;
			top: 37%;
			right: 52px;
			flex-direction: column;
			width: 10px;
			height: 210px;
	}

	&__arrow {
		width: 40px;
		height: 40px;
		@include svg;
		position: absolute;
		bottom: 6%;
		left: 50%;
		transform: translate(-50%);
	}
	&__block {
		position: absolute;
		height: fit-content;
		width: 75%;
		top: 41%;
		text-align: center;
		left: 50%;
		transform: translate(-50%);

	}
	&__title {
		@include title-header (700, 80px);		
		letter-spacing: 0.1em;
		cursor: pointer;
	}
	&__subscribe {
		@include title-header (400, 18px);		
		letter-spacing: 0.3em;		
		margin-top: 20px;
		cursor: pointer;
	}
}



.header {
	top: 7%;
	position: absolute;
	@include flex;
	justify-content: space-between;
	left: 50%;
	transform: translate(-50%);
	align-items: center;

	&__menu {
		@include flex;
		&__item {		
		color: $white;
		cursor: pointer;
		&::before {
			content: url('../assets/icon/Dot.svg');
			width: 9px;
			height: 9px;
			margin-right: 14px;
		}
		&:hover:before {			
			content: url('../assets/icon/Dot_hover.svg');					
		}
		}
		li:not(:first-child) {
				margin-left: 70px;
			}		
		
		&__link {
			@include font-menu;
			text-transform: uppercase;
			text-decoration: none;			
		}			
	}

	&__social {
		@include flex;
		
		a:not(:first-child) {
				margin-left: 20px;
			}

		&__item {
			width: 40px;
			height: 40px;
			@include svg;	
		}
	}
}

.dark {
	color: $dark-blue;
}
.white {
	color: $white;
}
.center {
	text-align: center;
}
.block-title {
	position: relative;
}
.line {
	&::before {
		position: absolute;
		top: -30px;
		left: 50%;
		transform: translate(-50%);
		width: 100px;
		border-top: 1px solid;
		content: "";
	}
}

.projects {
	padding-top: 130px;
	padding-bottom: 150px;
	&__title {
		@include title-section;	
		
		&.padding {
			margin-bottom: 142px;
		}			
	}
	&__block {
		display: flex;
		flex-direction: column;
		row-gap: 120px;
		&__section {
			display: inline-flex;
			justify-content: space-between;
			&:nth-of-type(2) {
				flex-direction: row-reverse;
			}
		}		
	}
	&__image {
		width: 54%;
		max-width: 630px;
		height: fit-content;
		position: relative;
		&__item {
			width: 100%;
		}

		.image-left::before {
			content: "";
			position: absolute;
			width: 93%;
			height: 100%;
			background-color: $blue;
			top: -57px;
			left: -215px;
			z-index: -1;
		}
		.image-right::before {
			content: "";
			position: absolute;
			width: 93%;
			height: 100%;
			background-color: $violet;
			top: -57px;
			left: 215px;
			z-index: -1;
		}
	}

	&__article {
		width: 41%;
		max-width: 470px;
		margin-top: 94px;
		&__subscribe {
			font: 400 22px $font-M;
			text-transform: uppercase;
			color: $dark-blue;
		}		
		&__text {
			@include text ($font-OS);
			margin-top: 19px;
			margin-bottom: 40px;
		}
	}	
	&__button {
		@include btn;
		margin-bottom: 60px;
		@include text-btn;
		
	}
	&__location {
		font: italic 400 15px $font-OS;		
		cursor: pointer;		
	}
}

.news {
	padding-top: 150px;
	padding-bottom: 170px;	
	background: url('../assets/image/news/bg.png'), linear-gradient(45deg, rgba(60, 127, 212, 1) 0%, rgba(36, 204, 250, 1) 100% );
	background-repeat: no-repeat;
	background-position-y: bottom;	
	background-size: 100%;

	&__title {
			@include title-section;
			margin-bottom: 90px;
		}
	&__block {
		background: $white;
		padding-bottom: 30px;
		&:not(:first-child) {
				margin-left: 20px;
			}
		
		&__image {
			width: 370px;
			height: 240px;
		}
		&__title {
			font: 700 22px 'Montserrat';
			text-transform: uppercase;
			color: $dark-blue;
			margin-top: 30px;
			margin-bottom: 15px;
			@include padding-article;
			cursor: pointer;
		}
		&__text {
			@include text ($font-OS);
			line-height: 24px;
			margin-bottom: 39px;
			@include padding-article;
		}
		&__data {
			@include padding-article;
			display: grid;
			grid-template-columns: auto 1fr;
			column-gap: 20px;
		}
		&__photo {
			width: 60px;
			height: 60px;
			border-radius: 50%;			
			grid-area: 1/1/span 2/span 1;
		}
		&__author {
			@include text ($font-M);
			text-transform: uppercase;
		}
		&__date {
			font: 400 18px 'Montserrat';
			color: $blue;
		}
	}	
	.slick-dots {
		width: 210px;
		height: 10px;
		margin: 0 auto;
		bottom: -40px;
		left: 0;
		right: 0;
		margin: auto;
	}
}

.white {
	color: $white;
}

.gallery {
	padding-top: 150px;
	padding-bottom: 150px;
	&__title {
			@include title-section;
			margin-bottom: 90px;
		}
	&__button {
		@include btn;
		@include text-btn;
		margin: 0 auto;
		margin-top: 60px;
	}
	&__photo {
		display: grid;
		grid-template-columns: 50% 25% 25%;
		gap: 10px;
		&__item {
			cursor: pointer;
			& a {
				position: relative;
			}
			& a:after {
					content: '';
					background: transparent url(../assets/icon/Group.svg) no-repeat center;
					width: 70px;
					height: 70px;
					position: absolute;
					margin: auto;
					top: 0;
					left: 0;
					bottom: 0;
					right: 0;
					visibility: hidden;
				}
			&:hover>a:after {
				visibility: visible;
			}
		}
		&__item:first-of-type {
			grid-row: 1 / span 2;			
		}
	}
}

#map {
	width: 100%;
	height: 700px;	
}

.about {
	position: relative;
}
.contact {
	padding: 60px;	
	width: 770px;	
	background: url('../assets/image/contact_bg.png'), #ffffff;
	background-repeat: no-repeat;
	background-position-y: bottom;
	position: absolute;
	top: 400px;
	
	margin: auto;
	left: 0;
	right: 0;
			
	i {
		color: $violet;
	}
	.contact-block {
		display: flex;
		justify-content: space-between;
	}
	&__title {
			@include title-section;
			margin-bottom: 42px;
		}
	&__data {
		&__item {
			@include text ($font-M);
			margin-bottom: 25px;
		}
	}
	&__button {
		@include text-btn;
		width: 140px;
		padding: 11px;
		background-color: transparent;
		margin-left: auto;
		&:hover {
				color: $white;
				background-color: $dark-blue;
			
		}
	}
	input[type=text],
	input[type=email] {
		border: none;
		border-bottom: 1px solid $grey;
		margin-bottom: 30px;
		width: 310px;
		height: 41px;
		@include text ($font-M);
		color: $black;
		
		&:active,
		&:focus {
			color: $dark-blue;
			border-bottom: 1px solid $dark-blue;
		}
	}
		
	input::placeholder {
		@include text ($font-M);
			color: $grey;
	}
}

footer {
	width: 100%;
	height: 549px;
	background: url('../assets/image/footer_bg.png'), linear-gradient(45deg, $blue 0%, $violet 100%);
	background-repeat: no-repeat;
	background-position-y: bottom;
	background-size: 100%;
}
.footer {
	width: 50%;
	max-width: 770px;
	margin: 0 auto;
	padding-top: 203px;
	padding-bottom: 234px;
	display: grid;
	grid-template-columns: auto auto;
	justify-content: space-between;
	row-gap: 40px;
	&__social {
			@include flex;
	
			a:not(:first-child) {
				margin-left: 20px;
			}
	
			&__item {
				width: 40px;
				height: 40px;
				@include svg;
			}
		}
	&__copy {
		font: 400 14px $font-M;
		color: $white;
	}
}

//Slick
.slick-prev {
	left: -100px;
}
.slick-prev:before {
	content: url("../assets/icon/Left.svg");	
}

.slick-next {
	right: -80px;
}
.slick-next:before {
	content: url("../assets/icon/Right.svg");
}


.slick-dots li button:before {
	content: url('../assets/icon/Dot.svg');
	fill: none;
	color: transparent;
	opacity: 1;
	width: 10px;
	height: 10px;
}
.slick-dots li button:hover:before,
.slick-dots li button:focus:before {
	content: url('../assets/icon/Dot_hover.svg');
}