@use "./reset";
@use "./mixins" as *;
@use "./font";
@use "./variables" as *;
@use "./responsive" as *;
/*@use "./hamburger" as *;*/

#clock {
	font-size: 60px;
	color: blue;
}
.addClock {
		padding: 10px 20px;
		font-size: 30px;
		color: rgb(43, 39, 39);
		background-color: beige;
		border: 1px solid grey;
		&:hover {
			background-color: rgb(43, 39, 39);
			color: white;
		}
}
