/* http://meyerweb.com/eric/tools/css/reset/
   v2.0-modified | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* make sure to set some focus styles for accessibility */
:focus {
  outline: 0;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
  -webkit-appearance: none;
  -moz-appearance: none;
}

input[type=search] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}

/**
 * Correct `inline-block` display not defined in IE 6/7/8/9 and Firefox 3.
 */
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  max-width: 100%;
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address styling not present in IE 7/8/9, Firefox 3, and Safari 4.
 * Known issue: no IE 6 support.
 */
[hidden] {
  display: none;
}

/**
 * 1. Correct text resizing oddly in IE 6/7 when body `font-size` is set using
 *    `em` units.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-size: 100%;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -ms-text-size-adjust: 100%;
  /* 2 */
}

/**
 * Address `outline` inconsistency between Chrome and other browsers.
 */
a:focus {
  outline: thin dotted;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0;
}

/**
 * 1. Remove border when inside `a` element in IE 6/7/8/9 and Firefox 3.
 * 2. Improve image quality when scaled in IE 7.
 */
img {
  border: 0;
  /* 1 */
  -ms-interpolation-mode: bicubic;
  /* 2 */
}

/**
 * Address margin not present in IE 6/7/8/9, Safari 5, and Opera 11.
 */
figure {
  margin: 0;
}

/**
 * Correct margin displayed oddly in IE 6/7.
 */
form {
  margin: 0;
}

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct color not being inherited in IE 6/7/8/9.
 * 2. Correct text not wrapping in Firefox 3.
 * 3. Correct alignment displayed oddly in IE 6/7.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  white-space: normal;
  /* 2 */
  *margin-left: -7px;
  /* 3 */
}

/**
 * 1. Correct font size not being inherited in all browsers.
 * 2. Address margins set differently in IE 6/7, Firefox 3+, Safari 5,
 *    and Chrome.
 * 3. Improve appearance and consistency in all browsers.
 */
button,
input,
select,
textarea {
  font-size: 100%;
  /* 1 */
  margin: 0;
  /* 2 */
  vertical-align: baseline;
  /* 3 */
  *vertical-align: middle;
  /* 3 */
}

/**
 * Address Firefox 3+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
button,
input {
  line-height: normal;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Chrome, Safari 5+, and IE 6+.
 * Correct `select` style inheritance in Firefox 4+ and Opera.
 */
button,
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 * 4. Remove inner spacing in IE 7 without affecting normal text inputs.
 *    Known issue: inner spacing remains in IE 6.
 */
button,
html input[type=button],
input[type=reset],
input[type=submit] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
  *overflow: visible;
  /* 4 */
}

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * 1. Address box sizing set to content-box in IE 8/9.
 * 2. Remove excess padding in IE 8/9.
 * 3. Remove excess padding in IE 7.
 *    Known issue: excess padding remains in IE 6.
 */
input[type=checkbox],
input[type=radio] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
  *height: 13px;
  /* 3 */
  *width: 13px;
  /* 3 */
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */
input[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box;
}

/**
 * Remove inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */
input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Remove inner padding and border in Firefox 3+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * 1. Remove default vertical scrollbar in IE 6/7/8/9.
 * 2. Improve readability and alignment in all browsers.
 */
textarea {
  overflow: auto;
  /* 1 */
  vertical-align: top;
  /* 2 */
}

/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

html,
button,
input,
select,
textarea {
  color: #222;
}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

img {
  vertical-align: middle;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

@font-face {
  font-family: "Open Sans";
  src: url("../assets/font/Open Sans Italic.eot");
  src: url("../assets/font/Open Sans Italic.eot?#iefix") format("embedded-opentype"), url("../assets/font/Open Sans Italic.woff2") format("woff2"), url("../assets/font/Open Sans Italic.woff") format("woff");
  font-weight: 400;
  font-style: italic;
  font-stretch: normal;
}
@font-face {
  font-family: "Open Sans";
  src: url("../assets/font/Open Sans Regular.eot");
  src: url("../assets/font/Open Sans Regular.eot?#iefix") format("embedded-opentype"), url("../assets/font/Open Sans Regular.woff2") format("woff2"), url("../assets/font/Open Sans Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
}
@font-face {
  font-family: "Source Sans Pro";
  src: url("../assets/font/Source Sans Pro Italic.eot");
  src: url("../assets/font/Source Sans Pro Italic.eot?#iefix") format("embedded-opentype"), url("../assets/font/Source Sans Pro Italic.woff2") format("woff2"), url("../assets/font/Source Sans Pro Italic.woff") format("woff"), url("../assets/font/Source Sans Pro Italic.svg#Source Sans Pro Italic") format("svg");
  font-weight: 400;
  font-style: italic;
  font-stretch: normal;
}
@font-face {
  font-family: "Source Sans Pro";
  src: url("../assets/font/Source Sans Pro.eot");
  src: url("../assets/font/Source Sans Pro.eot?#iefix") format("embedded-opentype"), url("../assets/font/Source Sans Pro.woff2") format("woff2"), url("../assets/font/Source Sans Pro.woff") format("woff"), url("../assets/font/Source Sans Pro.svg#Source Sans Pro") format("svg");
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url("../assets/font/Montserrat Bold.eot");
  src: url("../assets/font/Montserrat Bold.eot?#iefix") format("embedded-opentype"), url("../assets/font/Montserrat Bold.woff2") format("woff2"), url("../assets/font/Montserrat Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url("../assets/font/Montserrat Bold Italic.eot");
  src: url("../assets/font/Montserrat Bold Italic.eot?#iefix") format("embedded-opentype"), url("../assets/font/Montserrat Bold Italic.woff2") format("woff2"), url("../assets/font/Montserrat Bold Italic.woff") format("woff");
  font-weight: 700;
  font-style: italic;
  font-stretch: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url("../assets/font/Montserrat Italic.eot");
  src: url("../assets/font/Montserrat Italic.eot?#iefix") format("embedded-opentype"), url("../assets/font/Montserrat Italic.woff2") format("woff2"), url("../assets/font/Montserrat Italic.woff") format("woff");
  font-weight: 400;
  font-style: italic;
  font-stretch: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url("../assets/font/Montserrat Regular.eot");
  src: url("../assets/font/Montserrat Regular.eot?#iefix") format("embedded-opentype"), url("../assets/font/Montserrat Regular.woff2") format("woff2"), url("../assets/font/Montserrat Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
}
/*@use "./hamburger" as *;*/
* {
  box-sizing: border-box;
}

i {
  margin-right: 10px;
}

.wrapper {
  width: 75%;
  max-width: 1170px;
  margin: 0 auto;
}

.header__bg {
  width: 100%;
  position: relative;
}
.header__bg__img {
  width: 100%;
}
.header__bg__arrow {
  width: 40px;
  height: 40px;
  cursor: pointer;
  fill: #ffffff;
  stroke: #ffffff;
  position: absolute;
  bottom: 6%;
  left: 50%;
  transform: translate(-50%);
}
.header__bg__arrow:hover {
  fill: rgb(126, 90, 255);
  stroke: rgb(126, 90, 255);
}
.header__bg__block {
  position: absolute;
  height: fit-content;
  width: 75%;
  top: 41%;
  text-align: center;
  left: 50%;
  transform: translate(-50%);
}
.header__bg__title {
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 80px;
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}
.header__bg__subscribe {
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 18px;
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: 0.3em;
  margin-top: 20px;
}
.header__bg .gradient {
  background: linear-gradient(60deg, rgb(85, 183, 255) 0%, rgb(90, 104, 255) 100%);
}

.header {
  top: 7%;
  position: absolute;
  display: inline-flex;
  justify-content: space-between;
  left: 50%;
  transform: translate(-50%);
  align-items: center;
}
.header__menu {
  display: inline-flex;
}
.header__menu__item {
  list-style-type: circle;
  color: #ffffff;
  cursor: pointer;
}
.header__menu li:not(:first-child) {
  margin-left: 70px;
}
.header__menu__link {
  font-family: "Source Sans Pro";
  font-weight: 400;
  font-size: 14px;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
}
.header__social {
  display: inline-flex;
}
.header__social a:not(:first-child) {
  margin-left: 20px;
}
.header__social__item {
  width: 40px;
  height: 40px;
  cursor: pointer;
  fill: #ffffff;
  stroke: #ffffff;
}
.header__social__item:hover {
  fill: rgb(126, 90, 255);
  stroke: rgb(126, 90, 255);
}

.dark {
  color: #2C4058;
}

.white {
  color: #ffffff;
}

.center {
  text-align: center;
}

.block-title {
  position: relative;
}

.line::before {
  position: absolute;
  top: -30px;
  left: 50%;
  transform: translate(-50%);
  width: 100px;
  border-top: 1px solid;
  content: "";
}

.projects {
  padding-top: 130px;
  padding-bottom: 150px;
}
.projects__title {
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 44px;
  text-transform: uppercase;
  color: #2C4058;
  margin-bottom: 142px;
}
.projects__block {
  display: flex;
  flex-direction: column;
  row-gap: 120px;
}
.projects__block__section {
  display: inline-flex;
  justify-content: space-between;
}
.projects__block__section:nth-of-type(2) {
  flex-direction: row-reverse;
}
.projects__image {
  width: 54%;
  max-width: 630px;
  height: fit-content;
  position: relative;
}
.projects__image__item {
  width: 100%;
}
.projects__image .image-left::before {
  content: "";
  position: absolute;
  width: 93%;
  height: 100%;
  background-color: rgb(85, 183, 255);
  top: -57px;
  left: -215px;
  z-index: -1;
}
.projects__image .image-right::before {
  content: "";
  position: absolute;
  width: 93%;
  height: 100%;
  background-color: rgb(126, 90, 255);
  top: -57px;
  left: 215px;
  z-index: -1;
}
.projects__article {
  width: 41%;
  max-width: 470px;
  margin-top: 94px;
}
.projects__article__subscribe {
  font: 400 22px "Montserrat";
  text-transform: uppercase;
  color: #2C4058;
}
.projects__article__text {
  font-family: "Open Sans";
  font-weight: 400;
  font-size: 18px;
  color: #2C4058;
  line-height: 30px;
  margin-top: 19px;
  margin-bottom: 40px;
}
.projects__button {
  width: 190px;
  padding: 16px;
  margin-bottom: 60px;
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 14px;
  color: #000000;
  border: 1px solid #2C4058;
  text-decoration: none;
  text-transform: uppercase;
  display: block;
  text-align: center;
}
.projects__location {
  font: italic 400 15px "Open Sans";
}

.news {
  padding-top: 150px;
  padding-bottom: 170px;
  background: url("../assets/image/news/bg.png"), linear-gradient(45deg, rgb(60, 127, 212) 0%, rgb(36, 204, 250) 100%);
  background-repeat: no-repeat;
  background-position-y: bottom;
  background-size: 100%;
}
.news__title {
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 44px;
  text-transform: uppercase;
  color: #2C4058;
  margin-bottom: 90px;
}
.news__block {
  background: #ffffff;
  padding-bottom: 30px;
}
.news__block__image {
  width: 370px;
  height: 240px;
}
.news__block__title {
  font: 700 22px "Montserrat";
  text-transform: uppercase;
  color: #2C4058;
  margin-top: 30px;
  margin-bottom: 15px;
  padding-left: 20px;
  padding-right: 20px;
}
.news__block__text {
  font-family: "Open Sans";
  font-weight: 400;
  font-size: 18px;
  color: #2C4058;
  line-height: 30px;
  line-height: 24px;
  margin-bottom: 39px;
  padding-left: 20px;
  padding-right: 20px;
}
.news__block__data {
  padding-left: 20px;
  padding-right: 20px;
  display: grid;
  grid-template-columns: auto 1fr;
  column-gap: 20px;
}
.news__block__photo {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  grid-area: 1/1/span 2/span 1;
}
.news__block__author {
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 18px;
  color: #2C4058;
  line-height: 30px;
  text-transform: uppercase;
}
.news__block__date {
  font: 400 18px "Montserrat";
  color: rgb(85, 183, 255);
}

.white {
  color: #ffffff;
}

.gallery {
  padding-top: 150px;
  padding-bottom: 150px;
}
.gallery__title {
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 44px;
  text-transform: uppercase;
  color: #2C4058;
  margin-bottom: 90px;
}
.gallery__button {
  width: 190px;
  padding: 16px;
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 14px;
  color: #000000;
  border: 1px solid #2C4058;
  text-decoration: none;
  text-transform: uppercase;
  display: block;
  text-align: center;
  margin: 0 auto;
  margin-top: 60px;
}
.gallery__photo {
  display: grid;
  grid-template-columns: 50% 25% 25%;
  gap: 10px;
}
.gallery__photo__item {
  cursor: pointer;
}
.gallery__photo__item a {
  position: relative;
}
.gallery__photo__item a:after {
  content: "";
  background: transparent url(../assets/icon/Group.svg) no-repeat center;
  width: 70px;
  height: 70px;
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  visibility: hidden;
}
.gallery__photo__item:hover > a:after {
  visibility: visible;
}
.gallery__photo__item:first-of-type {
  grid-row: 1/span 2;
}

#map {
  width: 100%;
  height: 700px;
}

.contact {
  padding: 60px;
  width: 770px;
  background: url("../assets/image/contact_bg.png") no-repeat;
  background-position-y: bottom;
}
.contact i {
  color: rgb(126, 90, 255);
}
.contact .contact-block {
  display: flex;
  justify-content: space-between;
}
.contact__title {
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 44px;
  text-transform: uppercase;
  color: #2C4058;
  margin-bottom: 42px;
}
.contact__data__item {
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 18px;
  color: #2C4058;
  line-height: 30px;
  margin-bottom: 25px;
}
.contact__button {
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 14px;
  color: #000000;
  border: 1px solid #2C4058;
  text-decoration: none;
  text-transform: uppercase;
  display: block;
  text-align: center;
  width: 140px;
  padding: 11px;
  background-color: transparent;
  margin-left: auto;
}
.contact input[type=text],
.contact input[type=email] {
  border: none;
  border-bottom: 1px solid #D2D4D7;
  margin-bottom: 30px;
  width: 310px;
  height: 41px;
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 18px;
  color: #2C4058;
  line-height: 30px;
  color: #000000;
}
.contact input[type=text]:active, .contact input[type=text]:focus,
.contact input[type=email]:active,
.contact input[type=email]:focus {
  color: #2C4058;
  border-bottom: 1px solid #2C4058;
}
.contact input::placeholder {
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 18px;
  color: #2C4058;
  line-height: 30px;
  color: #D2D4D7;
}

footer {
  width: 100%;
  height: 549px;
  background: url("../assets/image/footer_bg.png"), linear-gradient(45deg, rgb(85, 183, 255) 0%, rgb(126, 90, 255) 100%);
  background-repeat: no-repeat;
  background-position-y: bottom;
  background-size: 100%;
}