body {
  background-color: aquamarine;
}

h1 {
  color: blueviolet;
}
h1 div {
  background-color: yellow;
}

div {
  background-color: beige;
  width: 400px;
  width: 400px;
}

div {
  background-color: black;
  width: 400px;
  width: 400px;
}