@import url(./reset.css);
@import url(/assets/fonts/stylesheet.css);

body {
    color: black;
    background-color: #C9C9C9;
}

.wrapper {
    max-width: 1200px;
    margin: 0 auto;
    background-color: white;
    padding-left: 120px;
    padding-right: 120px;
    padding-bottom: 90px;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 13px 0;
}
.header-left {
    display: inline-flex;
    margin: auto 0;
}
.header-left div:nth-child(1) {
    font-family: 'Tourney';
    font-weight: 600;
    font-size: 22px;
    margin-right: 50px;
    text-transform: uppercase;
    letter-spacing: 2px;
}
.header-left div:nth-child(2) {
    font-family: 'Staatliches';
    font-weight: 400;
    font-size: 22px;
    letter-spacing: 2px;
}

h2 {
    font-family: 'Francois One';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;    
    text-transform: uppercase;
    margin-top: 70px;
    margin-bottom: 40px;
}
.chapter {
    font-family: 'Farro';
    font-size: 20px;
    font-weight: 300;
    vertical-align: super;
    text-transform: none;
    margin-left: 10px;
}
p {
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 48px;
    margin-bottom: 40px;
}
.bold {
    font-weight: 700;
}
.cursive {
    font-style: italic;
}
.line {
   text-decoration: underline; 
}
.grey {
    background-color: #C9C9C9;
}
