@import url(./reset.css);

.wrapper {
	width: 90%;
	margin: 0 auto;
}

#text {
	padding-left: 30px;
	font-size: 18px;
	font-style: italic;	
	margin-bottom: 50px;
}

table {
	margin-bottom: 50px;
}
caption {
	font-size: 20px;
	color: gray;
	font-weight: 600;
	font-style: italic;
	margin-bottom: 10px;
}

td,
th {
	border: 1px solid #999;
	padding: 10px;
}

td {
	background: gray;
	color: white;
}

.primary {
	background-color: brown;
	position: sticky;
	color: white;
	border-radius: 0;
	top: 0;
	padding: 10px;
}

th {
	cursor: pointer;
}
th:hover {
	background-color: rgb(99, 99, 24);
}


#blok {
	border: 1px solid grey;
	padding: 10px;
	margin-bottom: 50px;
}


